DATABASE_URL = "postgresql://user:password@postgresql-ise-project.alwaysdata.net:port/database"

ELASTICSEARCH_USERNAME = ""
ELASTICSEARCH_PASSWORD = ""
ELASTICSEARCH_URL = "https://username:password@cluster.region.bonsaisearch.net:port"
INDEX_NAME = ""

OPENAI_API_KEY = ""

SECRET_KEY = ""
ALGORITHM = ""
ACCESS_TOKEN_EXPIRE_MINUTES = 0