DATABASE_URL="postgresql://user:password@postgresql-ise-project.alwaysdata.net:port/database"

ELASTICSEARCH_USERNAME = ""
ELASTICSEARCH_PASSWORD = ""

ELASTICSEARCH_HOST = ""
ELASTICSEARCH_PORT = ""

INDEX_NAME = ""
ELASTICSEARCH_SCHEME = ""